# Dataset
PlantVillage-Dataset/
dataset/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/

# Streamlit
.streamlit/secrets.toml

# Temporary files
*.tmp
*.log